<div class="panel panel-default">
	<div class="panel-heading">
		<h2 class="header">There was an error with your request...</h2>
	</div>
	<div class="panel-body text-center">
		<%= @error %>
	</div>
</div>
