<div class="col-lg-4"></div>
<div class="col-lg-4">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="header"><%= "Upload Successfully!"%></h2>
		</div>
		<div class="panel-body text-center">
			
			<a href="https://q-see.s3.amazonaws.com/content/support/prodImage/<%=@rn_sku%>.jpg" class="h1">
			<img class="img-responsive" src="https://q-see.s3.amazonaws.com/content/support/prodImage/<%=@rn_sku%>.jpg"><%=@rn_sku%></a>
	    </div>
	</div>
</div>
<div class="col-lg-4"></div>