<br>
<table class="main smaller">
  <tbody>
    <tr class="first">
      <th colspan="2" class="special_header <%= @product_spec.technology%>">Recording Resolution Options</th>
    </tr>
    <td>
      <table class="nested">
        <% @product_spec.resolution.each_with_index do |r,i|%>
          <% if i <= 3 %>
            <tr>
              <th><%= "#{r} Resolution"%></th><td>4000 x 4000 pixels</td>
            </tr>      
          <% end %>
        <% end %>
      </table>
      <table class="nested second">
        <% @product_spec.resolution.each_with_index do |r,i|%>
          <% if i > 3 %>
            <tr>
              <th><%= "#{r} Resolution"%></th><td>2000 x 2000 pixels</td>
            </tr>      
          <% end %>
        <% end %>
      </table>
    </td>
  </tbody>
</table>