<br>
<table class="main smaller">
  <tr class="first">
    <th colspan="2" class="special_header <%= @product_spec.technology%>">Recording Modes</th>
  </tr>
  <tr>
    <th>Recording Modes</th><td><%= @product_spec.recording_modes_list%></td>
  </tr>
  <tr>
    <th>Backup Methods</th><td><%= @product_spec.backup_methods_list%></td>
  </tr>
</table>