<div class="panel-heading">
	<h2 class="header">Product Spec Photos</h2>
</div>
<div class="panel-body">
	<%= form_for(@product_spec, multipart: true) do |f| %>
		<div class="form-group">
			<%= f.label :camera_image %>
			<%= f.file_field :camera_image %>
		</div>
		<div class="form-group">
			<%= f.submit 'Add Pictures', :class => "btn btn-default" %>
		</div>
	<% end %>
</div>