<br>
<table class="main smaller">
  <tr class="first">
    <th colspan="2" class="special_header <%= @product_spec.technology%>">Hard Drives</th>
  </tr>
  <tr>
    <th class="smaller">Maximum Size</th><td><%= @product_spec.hdd_tb%></td>
  </tr>
  <tr>
    <th class="smaller">Number Supported</th><td><%= @product_spec.number_of_harddrives%></td>
  </tr>
</table>