<br>
<table class="main smaller">
  <tr class="first">
    <th colspan="2" class="special_header grey_scale">
      <%=raw link_to_edit({:ra => @rendered_as,:ps =>@product_spec, :t => "product_specs/product_specs_form/recorder_form/physical",:v => "Physical"})%>
      </th>
  </tr>
  <tr>
    <th>Weight</th><td><%= @product_spec.weight_in_lbs%></td>
  </tr>
  <tr>
    <th>Dimensions</th><td><%= @product_spec.dimensions%></td>
  </tr>
  <tr>
    <th>Operating Temperature</th><td><%= @product_spec.operating_temperature%></td>
  </tr>
</table>