<br>
<table class="main smaller">
  <tr class="first">
    <th colspan="2" class="special_header grey_scale">Physical</th>
  </tr>
  <tr>
    <th>Weight</th><td><%= @product_spec.weight%></td>
  </tr>
  <tr>
    <th>Dimensions</th><td><%= @product_spec.dimensions%></td>
  </tr>
  <tr>
    <th>Operating Temperature</th><td><%= @product_spec.operating_temperature%></td>
  </tr>
</table>