<br>
<table class="main smaller">
  <tr class="first">
    <th colspan="2" class="special_header grey_scale">Physical</th>
  </tr>
  <tr>
    <th>Weight</th><td><%= @product_spec.software_support_list%></td>
  </tr>
  <tr>
    <th>Dimensions</th><td><%= @product_spec.mobile_support_list%></td>
  </tr>
  <tr>
    <th>Operating Temperature</th><td><%= @product_spec.computer_support_list%></td>
  </tr>
</table>