<br>
<table class="main smaller">
  <tr class="first">
    <th colspan="2" class="special_header grey_scale">Power</th>
  </tr>
  <tr>
    <th>Power Supply</th><td><%= @product_spec.software_support_list%></td>
  </tr>
  <tr>
    <th>Power Consumption</th><td><%= @product_spec.mobile_support_list%></td>
  </tr>
</table>