<br>
<table class="main smaller">
  <tr class="first">
    <th colspan="2" class="special_header <%= @product_spec.technology%>">PTZ</th>
  </tr>
  <tr>
    <th>PTZ Support</th><td><%= @product_spec.ptz_support%></td>
  </tr>
  <tr>
    <th>Supported Protocols</th><td><%= @product_spec.ptz_protocol_options%></td>
  </tr>
</table>