<br>
<table class="main smaller">
  <tr class="first">
    <th colspan="2" class="special_header grey_scale">Connectivity</th>
  </tr>
  <tr>
    <th>Connector Types</th><td><%= %></td>
  </tr>
  <tr>
    <th>Other Connections</th><td><%= %></td>
  </tr>
  <tr>
    <th>Wireless</th><td><%= %></td>
  </tr>
</table> 