<br>
<table class="main smaller">
  <tr class="first">
    <th colspan="2" class="special_header grey_scale">Power</th>
  </tr>
  <tr>
    <th>Power Supply</th><td><%= @product_spec.power_supply%></td>
  </tr>
  <tr>
    <th>Power Consumption</th><td><%= @product_spec.power_consumption%></td>
  </tr>
</table>