<br>
<table class="main smaller">
  <tr class="first">
    <th colspan="2" class="special_header grey_scale">PTZ</th>
  </tr>
  <tr>
    <th>Horizontal Rotation</th><td><%= %></td>
  </tr>
  <tr>
    <th>Vertical Tilt</th><td><%= %></td>
  </tr>
  <tr>
    <th>Preset and Cruise Patterns</th><td><%= %></td>
  </tr>
</table> 