<br>
<table class="main smaller">
  <tr class="first">
    <th colspan="2" class="special_header <%= @product_spec.technology%>">Remote Monitoring</th>
  </tr>
  <tr>
    <th>Use as Standalone</th><td><%= %></td>
  </tr>
  <tr>
    <th>Compatible Mobile Devices</th><td><%= %></td>
  </tr>
  <tr>
    <th>Compatible Systems</th><td><%= %></td>
  </tr>
</table> 