<br>
<table class="main smaller">
  <tr class="first">
    <th colspan="2" class="special_header grey_scale">Communication Ports</th>
  </tr>
  <tr>
    <th>Network</th><td><%= @product_spec.network_cap%></td>
  </tr>
  <tr>
    <th>USB</th><td><%= @product_spec.usb_ports%></td>
  </tr>
  <tr>
    <th>eSATA</th><td><%= @product_spec.e_sata%></td>
  </tr>
</table>