<br>
<table class="main smaller">
  <tr class="first">
    <th colspan="2" class="special_header <%= @product_spec.technology%>">Remote Monitoring</th>
  </tr>
  <tr>
    <th>Scan N' View</th><td><%= @product_spec.scan_n_view%></td>
  </tr>
  <tr>
    <th>Backup Methods</th><td><%= @product_spec.dual_stream_options_list%></td>
  </tr>
  <tr>
    <th>Simultaneous Users</th><td><%= @product_spec.max_users%></td>
  </tr>
</table>