<br>
<table class="main smaller">
  <tr class="first">
    <th colspan="2" class="special_header grey_scale">Accessories</th>
  </tr>
  <tr>
    <th>Control</th><td><%= @product_spec.software_support_list%></td>
  </tr>
  <tr>
    <th>Connectors/Cables</th><td><%= @product_spec.mobile_support_list%></td>
  </tr>
  <tr>
    <th>Mounting Hardware</th><td><%= @product_spec.mobile_support_list%></td>
  </tr>
  <tr>
    <th>Other</th><td><%= @product_spec.software_support_list%></td>
  </tr>
</table>