<br>
<table class="main smaller">
  <tr class="first">
    <th colspan="2" class="special_header grey_scale">Accessories</th>
  </tr>
  <tr>
    <th>Control</th><td><%= @product_spec.remote_control_options%></td>
  </tr>
  <tr>
    <th>Connectors/Cables</th><td><%= @product_spec.connectors_or_cables_options%></td>
  </tr>
  <tr>
    <th>Mounting Hardware</th><td><%= @product_spec.mounting_hardware_options%></td>
  </tr>
  <tr>
    <th>Other</th><td><%= @product_spec.other_accessories_options%></td>
  </tr>
</table>