<div class="dvr_info">
    <%= render "product_specs/pdf_parts/page_1/camera/pdf_main_table_portion.html.erb"%>
</div>
<br>
<div class="left_side">
	<%= render "product_specs/pdf_parts/page_1/camera/night_vision.html.erb"%>    
</div>
<div class="right_side">
    
</div>