<br>
<table class="main smaller">
  <tr class="first">
    <th colspan="2" class="special_header grey_scale">Communication Ports</th>
  </tr>
  <tr>
    <th>Network</th><td><%= @product_spec.software_support_list%></td>
  </tr>
  <tr>
    <th>USB</th><td><%= @product_spec.mobile_support_list%></td>
  </tr>
  <tr>
    <th>eSATA</th><td><%= @product_spec.computer_support_list%></td>
  </tr>
</table>