<table class="main smaller">
  <tr class="first">
    <th colspan="2" class="special_header grey_scale">Compatibility</th>
  </tr>
  <tr>
    <th>Software Support</th><td><%= @product_spec.software_support_list%></td>
  </tr>
  <tr>
    <th>Mobile Support</th><td><%= @product_spec.mobile_support_list%></td>
  </tr>
  <tr>
    <th>Computer Support</th><td><%= @product_spec.computer_support_list%></td>
  </tr>
</table>