/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require pdf
 */
body{
	font-family: 'Roboto', sans-serif;
	background: white;
	font-weight: 100;
	font-size: 14px;
}
.q-see-logo{
	width:22%;
}
a.pointer:hover,a.pointer:focus{
	text-decoration: none;
	cursor: pointer;
	background-color: transparent !important;
}
label{
	font-weight: 100;	
}
.container.main{
	margin-top: 75px;
}
.navbar.navbar-default.navbar-fixed-top{
	background: #fec10d;
	padding: 0 17px;
}
.pdf_icon{
	width: 10%
}
.pdf_icon_small{
	width: 6%
}
.login-btn{
	border: none;
	margin: 0;
	background: #eee;
}
.presentation.pull-right{
	margin-top: 15px;
	font-weight: 200;
}
h3.upcase-title{
	display: inline-block;
    text-transform: uppercase;
    margin: 0;
    position: relative;
    top: 4px;
}
h2.header{
	text-transform: uppercase;
    font-family: 'Roboto Condensed';
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    letter-spacing: 1px;
}
.btn.btn-default{
	font-weight: 100;
	font-size: 14px;	
	float:right;
}
th.table_links{
	font-weight: 100 !important;
}
.app-logo{
	font-size: 42px;
    display: inline-block;
    font-weight: 400;
    position: relative;
    top: 12px;
    line-height: .3;
    color: black;
}